body {
    background-color: #cdcdcd;

}
#metaContainer {
    display: flex;
    justify-content: space-evenly;
}

#container {
    flex: 0 0 650px;
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    height: 650px; 
    width: 650px;
    
}

#control {
    background-color: black;
    height: 400px;
    width: 100px;
    flex: 1;
}

.gridOfDivs {
    background-color: #ffffff;;
    height: 1fr;
    width: 1fr;
    margin: 1px;
    
}

.changeColor {
    background-color: #000000;
}

h1 {
    text-align: center;
width: 50%;
 margin:auto;   
}

