body {
    background-color: #fffb92;
    display: flex;
    justify-content: center;
    padding: 20px;
}

#metaContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 900px;
    width: 900px;
    background-color: #e90418;
    justify-content: space-around;
    border-radius: 25px;
    gap: 40px;
    padding: 40px;
}

#titlecontainer {
  flex: 0 0 10%;
}

#container {
    flex: 2 0 650px;
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    height: 650px; 
    width: 650px;
    
    
}

#controls {
    /* background-color: black; */
    /* height: 400px;
    width: 100px; */
    flex: 1 1 15%;
    display: flex;    
    justify-content: space-around;
    align-content: center;
    gap: 50px;
    /* margin-top: 50px; */

}

#controls > * {
  /* border: 2px solid green; */
  /* margin: 10px;
  padding: 10px; */
 
}

.gridOfDivs {
    background-color: #ffffff;;
    height: 1fr;
    width: 1fr;
    margin: none;
    border-radius: 2px;
    
}

.changeColor {
    background-color: #000000;
}

/* .switchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
} */

.switchContainer > * {
  text-align: center;
  display: flex;
}

.slideContainer {
  text-align: center;
  display: flex;
}

h1 {
    /* text-align: center; */
    /* width: 50%; */
    font-family: 'Gloria Hallelujah', cursive; 
    flex: 1;
    color: white;
    font-size: 3em;  
}

p, #textSlider, #rgbText {
  font-family: 'Gloria Hallelujah', cursive;
  color: white;
  font-size: 1.5em;
}


/* SWITCH */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: flex;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }