body {
    background-color: #cdcdcd;

}
#metaContainer {
    display: flex;
    justify-content: space-evenly;
}

#container {
    flex: 1;
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(16, 1fr);
    max-height: 650px; 
    max-width: 650px;
    
}

.container24 {
    grid-template-columns: repeat(24, 1fr);
}

.container32 {
    grid-template-columns: repeat(32, 1fr);
}

.container40 {
    grid-template-columns: repeat(40, 1fr);
}

#control {
    background-color: black;
    height: 400px;
    width: 100px;
    flex: 1;
}

.gridOfDivs {
    background-color: #ffffff;;
    height: 15px;
    width: 1fr;
    margin: 3px;
    
}

.changeColor {
    background-color: #000000;
}

h1 {
    text-align: center;
width: 50%;
 margin:auto;   
}

